/*[class *="col-"] {
    border: 1px solid red;
}*/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0;
    font-family: "MyriadPro-Regular";
    font-size: 10px;
    color: #c6c3cc;
    position: relative;
}

h3 {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    border-bottom: 2px solid #594f46;
    width: 80%;
}

.ds {
    max-width: 125px;
    margin: 12px 1px 0px 25px;
    width: 25vw;
}

.skills_range {}

.name_surname {
    color: #ffe0ce;
    font-size: 33px;
    margin-top: 28px;
}

.fdev {
    color: #c6c3cc;
    font-size: 17px;
    margin-top: -22px;
}

.my_description {
    color: #c6c3cc;
    font-size: 15px;
    margin: 15px 10% 20px 10%;
}

.color_ffe0ce {
    color: #ffe0ce;
}

.contact_list {
    font-size: 16px;
    margin: 1px 0 24px -11px;
    list-style: none;
}

.my_place {
    font-size: 16px;
}

.find-me_list, .find-me_list a:hover, .find-me_list a:link, .find-me_list a:visited {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    margin: 19px 0 0 1.5%;
    list-style: none;
}

.years_text {
    font-size: 16px;
    min-height: 62px;
    padding-top: 29px;
}

.years_number {
    font-size: 50px;
    text-align: right;
    margin-top: 20px;
}

.edu_list {
    font-size: 14px;
    margin: 1px 0 24px -11px;
    list-style: none;
}



.mrg {
    margin-left: 10%;
}

@media (max-width: 600px) {
    body {
        /*background-image: url("../images/1_makieta_mobile_small.jpg");*/
        background-image: url("../images/bg_full.png");
        background-color: #0f1925;
        background-position: 0px 0px;
    }
    .my_place p {
        margin: 15px 0 0 33px;
        display: inline;
    }
    .map {
        display: none;
    }
    .footer_position {
        position: relative;
        text-align: center;
    }

    .footer {
        font-size: 16px;
        margin-top: 40px;
        height: 20px;
    }

    .footer_shadow {
        color: #000;
        box-shadow: 0 0 10px #fff;
        width: 85%;
        height: 2px;
        display: inline-block;
    }
}

@media (min-width: 600px) {
    body {
        /*background-image: url("../images/2_makieta_mobile.jpg");*/
        background-image: url("../images/bg_full.png");
        background-color: #0f1925;
        background-position: 0px 0px;
    }
    .my_place p {
        margin: 15px 0 0 33px;
        display: none;
    }
    .map {
        display: block;
        text-align: center;
    }
    .map img {
        max-width: 163px;
    }

    .footer_position {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 85%;
    }

    .footer {
        font-size: 16px;
        margin-top: 57px;
        height: 20px;
    }

    .footer_shadow {
        color: #000;
        box-shadow: 0 0 10px #fff;
        width: 85%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 0px;
        height: 2px;
    }
}

@media (min-width: 768px) {
    body {
        /*background-image: url("../images/3_makieta_tablet.jpg");*/
        background-image: url("../images/bg_full.png");
        background-color: #0f1925;
        background-position: 0px 0px;
    }
}

@media (min-width: 992px) {
    body {
        /*background-image: url("../images/4_makieta_desktop.jpg");*/
        background-image: url("../images/bg_full.png");
        background-color: #0f1925;
        background-position: 0px 0px;
    }
}

@media (min-width: 1200px) {
    body {
        /*background-image: url("../images/5_makieta_full.jpg");*/
        background-image: url("../images/bg_full.png");
        background-color: #0f1925;
        background-position: 0px 0px;
    }
}
